/* google font : Cormorant Garamond, Noto Serif TC (300 400 600px)*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&family=Noto+Serif+TC:wght@300;400;600&display=swap');

/*=============== VARIABLE CSS ===============*/
:root{

/* font */
--english-font: 'Cormorant Garamond', serif;
--chinese-font: 'Noto Serif TC', serif;

/* font size */
--biggest-font-size: 3.5rem;
--h1-font-size: 2rem;
--h2-font-size: 1.5rem;
--h3-font-size: 1.05rem;
--normal-font-size: 1rem;
--small-font-size: 0.895rem;

/* font width */
--font-bold: 600;
--font-semi-bold: 400;
--font-content: 300;
}

/*=============== RESET ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
html{
  scroll-behavior: smooth;
}

/*=============== CONTENT ===============*/

/* font family */
body{
  font-family: var(--english-font),var(--chinese-font),serif;
}

/*=============== NAVBAR ===============*/

/* navbar */
.nav_container{
  position: fixed;

  display: flex;
  flex-wrap: wrap;
  /* align-content: center; */

  height: 20vh;
  width: 100%;

  background-color: #ffffff;

  box-shadow: 0px -13px 20px;

  top: 0px;
  transition: top 0.5s;
}
  /* scroll hidden */
.hideHeader .nav_container {
  top: -20%;
}

/* logo */
.nav_logo{
  display: flex;
  align-items: center;

  height: 65%;
  width: 50%;

  padding: 0 0 0 50px;
}
.nav_logo a{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
  color: #000000;
}

/* user menu */
.nav_user_menu{
  display: flex;
  justify-content: flex-end;
  
  height: 65%;
  width: 50%;

  padding-right: 100px;
}
.nav_user_menu ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 60%;
}

/* sort menu */
.nav_sort_menu{
  display: flex;

  width: 100%;
  height: 30%;

  border-top: solid 1px #bdbdbb;
}
.nav_sort_menu ul{
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 50%;
}

/* menu item */
.nav_item_lable {
  width: 20%;
  text-align: center;
}

.nav_item_a {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  color: #000000;
}

.nav_item:hover a{
  font-size: var(--normal-font-size);
}

/* test */
div.test{
  height: 5000px;
}

/*========== on phone ========== */
@media (max-width: 1023px) {

}