/* google font : Cormorant Garamond, Noto Serif TC (300 400 600px)*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&family=Noto+Serif+TC:wght@300;400;600&display=swap');

/* FontAwesome */
@import url(./FontAwesome_all.css);

/*=============== VARIABLE CSS ===============*/
:root{

/* font */
--english-font: 'Cormorant Garamond', serif;
--chinese-font: 'Noto Serif TC', serif;

/* font size */
--biggest-font-size: 3.5rem;
--h1-font-size: 2rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1.05rem;
--normal-font-size: 1rem;
--small-font-size: 0.895rem;

/* font width */
--font-bold: 600;
--font-semi-bold: 400;
--font-content: 300;
}

/*=============== RESET ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
html{
  scroll-behavior: smooth;
}

/*=============== clearfix ===============*/

/*=============== BASIC SETTINGS ===============*/

/* font family */
body{
  font-family: var(--english-font),var(--chinese-font),serif;
}

/*=============== NAVBAR ===============*/

/* navbar container */
.nav_container{
  position: fixed;

  display: flex;
  flex-wrap: wrap;

  height: 145px;
  width: 100%;

  background-color: #ffffff;

  box-shadow: 0px -13px 20px;

  top: 0px;
  transition: top 0.5s;
}

/* logo */
.nav_logo{
  display: flex;
  align-items: center;

  height: 65%;
  width: 50%;

  padding: 0 0 0 50px;
}
.nav_logo a{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
  color: #000000;
}

/* nav_bar */
.nav_bar {
  display: none;
}

/* user menu */
.nav_user_menu {
  display: flex;
  justify-content: flex-end;
  
  height: 65%;
  width: 50%;

  padding-right: 100px;
}
.nav_user_menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 60%;
}

/* sort menu */
.nav_sort_menu {
  display: flex;

  width: 100%;
  height: 30%;

  border-top: solid 1px #bdbdbb;
}
.nav_sort_menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 50%;
}

/* all menu item */
.nav_item_lable {
  width: 20%;
  text-align: center;
}
.nav_item {
  margin: 10%;
}
.nav_item_a {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  color: #000000;
}

/* for JS(hide header when  scrolling up) */
.hideHeader {
  top: -152px;
}

/* for JS(turn navbar language to Chinese) */
.nav_item:hover a {
  font-size: var(--normal-font-size);
}

/*=============== UNDER HEADER ===============*/
.under_header {
  height: 152px;
  width: 100vw;
  background-color: #f7f5f5;
}

/*=============== REMIND ===============*/
.remind_container {
  height: 25px;
  width: 100vw;
  background-color: #fca99b;

  overflow: hidden;
}
.remind {
  display: inline-block;
  width: inherit;
  text-align: center;
}

/*=============== test ===============*/
div.test {
  height: 50000px;
}

/*=============== ********** ===============*/
/*========== ON PHONE SCREEN ========== */
@media (max-width: 1023px) {
  /*=============== NAVBAR ===============*/
  /* container */
  .nav_container {
    height: 80px;
    width: 100vw;
  }

  /* logo */
  .nav_logo {
    height: inherit;
    width: 100%;

    padding-left: 30px;
  }
  .nav_logo a {
    font-size: var(--h1-font-size);
  }

  /* nav_bar */
  .nav_bar {
    display: block;
    position: absolute;
    top: 30px;
    right: 5%;

  }
  .nav_bar .fa-minus {
    display: block;

    height: 4px;
  }

  /* user menu */
  .nav_user_menu {    
    display: block;

    width: 100vw;
    height: auto;

    position: relative;
    right: -100%;
    opacity: 0;
    transition: 0.3s;
  }
  .nav_user_menu ul {
    display: block;

    width: 100vw;
    height: auto;
  }

  /* sort menu */
  .nav_sort_menu {
    display: block;

    width: 100%;
  
    border-top: none;

    position: relative;
    right: -100%;
    opacity: 0;
    transition: 0.3s;
  }
  .nav_sort_menu ul{
    display: block; 
    
    width: 100%;
  }

  /* all menu item */
  .nav_item {
    width: 100%;
    height: 10vh;

    margin: 0%;

    line-height: 10vh;

    background-color: #303030;
    
    border-bottom: solid 1px #ffffff;
  }
  .nav_item_lable li:hover {
    background-color: #bdbdbb;
  }
  .nav_item_a {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    color: #ffffff;
    line-height: 5vh;
  }

  /*=============== for JS(hide header when  scrolling up) ===============*/
  .hideHeader {
    top: -87px;
  }

  /*=============== for JS(turn navbar language to Chinese) ===============*/
  .nav_item:hover a{
    font-size: var(--h2-font-size);
  }

  /*=============== for JS(OPEN & CLOSE NAVBAR MENU (ON PHONE)) ===============*/
  /* bar */
  .nav_bar i {
    transition: all 0.3s ease-out;
  }
  .bar_active i:nth-child(2) {
    opacity: 0;
  }
  .bar_active i:nth-child(1) {
    transform: translateX(4px) translateY(4px) rotate(45deg);
  }
  .bar_active i:nth-child(3) {
    transform: translateX(-4px) translateY(-4px) rotate(-45deg);
  }
  /* menu */
  .hideMenu .nav_user_menu {
    right: 0;
    opacity: 1;
  }
  .hideMenu .nav_sort_menu {
    right: 0;
    opacity: 1;
  }

  /*=============== UNDER HEADER ===============*/
  .under_header {
    height: 87px;
    width: 100vw;
  }
}